<!-- static_pages home -->

<div class="home-main">
  <div class="jumbotron text-center">
    <div class="home-title">
      <h1>FASHION-ONE</h1>
      <p>あなたにぴったりのお店を探そう</p>
  </div>
</div>

<div class="mx-auto" style="max-width: 80%" >

  <h4 class="font-weight-bold mb-3">キーワードから探す</h4>
  <%= search_form_for @q, url: shops_path do |f| %>
    <div class="input-group ml-4" style="width: 90%">
      <%= f.search_field :area_name_or_genre_name_or_name_cont, class:"form-control input-group-prepend", placeholder:"キーワード［例: ユニクロ］"%>
      <%= f.submit "検索",class:"btn btn-primary" %>
    </div>
  <% end %>

  <h4 class="font-weight-bold mt-5">エリアから探す</h4>
  <div class="card ml-4" style="width: 90%">
    <div class="card-body">
      <h4 class="font-weight-bold">東京</h4>
      <p class="card-text">
        <% @areas.each do |area| %>
          <%= link_to area.name, shops_path(q: { area_id_eq: area.id}), class: 'btn  btn-outline-dark btn-lg m-3' %>
        <% end %>
      </p>
    </div>
  </div>

  <h4 class="font-weight-bold mt-5">ジャンルから探す</h4>
  <%= search_form_for @q do |f|%>
    <%= render partial: "shops/genre_search", locals: { heading: "ファストファッション",path: shops_path(q: { genre_name_cont_any: [ "ファストファッション"]}),image:"/assets/fastfashion.jpeg"} %>
    <%= render partial: "shops/genre_search", locals: { heading: "セレクトショップ",path: shops_path(q: { genre_name_cont_any: [ "セレクトショップ"]}),image:"/assets/selectshop.jpeg"} %>
    <%= render partial: "shops/genre_search", locals: { heading: "ストリートファッション",path: shops_path(q: { genre_name_cont_any: [ "ストリートファッション"]}),image:"/assets/street.jpeg"} %>
    <%= render partial: "shops/genre_search", locals: { heading: "モードファッション",path: shops_path(q: { genre_name_cont_any: [ "モードファッション"]}),image:"/assets/modefashion.jpeg"} %>
    <%= render partial: "shops/genre_search", locals: { heading: "ラグジュアリー",path: shops_path(q: { genre_name_cont_any: [ "ラグジュアリー"]}),image:"/assets/luxury.jpeg"} %>
    <%= render partial: "shops/genre_search", locals: { heading: "ヴィンテージ",path: shops_path(q: { genre_name_cont_any: [ "ヴィンテージ"]}),image:"/assets/vintage.jpeg"} %>
  <% end %>

  <h4 class="font-weight-bold mt-5">ブランドから探す</h4>
  <%= search_form_for @q do |f|%>
    <div class="ml-3">
      <h5 class="font-weight-bold mt-5">ファストファッション</h5>
        <%= render partial: "shops/brand_search", locals: {path: shops_path(q: { brand_name_cont_any: [ "ユニクロ"]}),image:"/assets/UNIQLO.png"} %>
        <%= render partial: "shops/brand_search", locals: { heading: "GU",path: shops_path(q: { brand_name_cont_any: [ "GU"]}),image:"/assets/GU.png"} %>
        <%= render partial: "shops/brand_search", locals: { heading: "H&M",path: shops_path(q: { brand_name_cont_any: [ "H&M"]}),image:"/assets/H&M.jpeg"} %>
        <%= render partial: "shops/brand_search", locals: { heading: "ZARA",path: shops_path(q: { brand_name_cont_any: [ "ZARA"]}),image:"/assets/ZARA.jpeg"} %>

      <h5 class="font-weight-bold mt-5">セレクトショップ</h5>
        <%= render partial: "shops/brand_search", locals: { heading: "BEAMS",path: shops_path(q: { brand_name_cont_any: [ "BEAMS"]}),image:"/assets/BEAMS.png"} %>
        <%= render partial: "shops/brand_search", locals: { heading: "UNITEDARROWS",path: shops_path(q: { brand_name_cont_any: [ "UNITEDARROWS"]}),image:"/assets/UNITEDARROWS.jpeg"} %>

      <h5 class="font-weight-bold mt-5">ストリートファッション</h5>
        <%= render partial: "shops/brand_search", locals: { heading: "Supreme",path: shops_path(q: { brand_name_cont_any: [ "supreme"]}),image:"/assets/supreme.jpeg"} %>

        <%= render partial: "shops/brand_search", locals: { heading: "STUSSY",path: shops_path(q: { brand_name_cont_any: [ "STUSSY"]}),image:"/assets/stussy.png"} %>

        <%= render partial: "shops/brand_search", locals: { heading: "A BATHING APE",path: shops_path(q: { brand_name_cont_any: [ "A BATHING APE"]}),image:"/assets/bape.jpeg"} %>
    </div>
  <% end %>



</div>
