<!-- static_pages home -->

<div class="home-main">
  <div class="jumbotron text-center">
    <div class="home-title">
      <h1>FASHION-ONE</h1>
      <p>あなたにぴったりのお店を探そう</p>
  </div>
</div>

<div class="mx-auto" style="max-width: 90%" >

  <h4 class="font-weight-bold mb-3">キーワードから探す</h4>
  <%= search_form_for @q, url: shops_path do |f| %>
    <div class="input-group ml-5" style="width: 90%">
      <%= f.search_field :name_cont, required: true, class:"form-control input-group-prepend", placeholder:"キーワード［例: ユニクロ］"%>
      <%= f.submit "検索",class:"btn btn-primary" %>
    </div>
  <% end %>

  <h4 class="font-weight-bold mt-5">エリアから探す</h4>
  <div class="card" style="width: 90%">
    <div class="card-body">
      <h4 class="font-weight-bold">東京</h4>
      <p class="card-text">
        <% @areas.each do |area| %>
          <%= link_to area.name, shops_path(q: { area_id_eq: area.id}), class: 'btn  btn-outline-secondary btn-lg m-3' %>
        <% end %>
      </p>
    </div>
  </div>

  <h4 class="font-weight-bold mt-5">ジャンルから探す</h4>
  <div class="genre">
    <div class="genre-list">
      <%= link_to root_path do %>
        <%= image_tag("fastfashion.jpeg", class:"genre-image") %>
        <p class="genre-name">ファストファッション</p>
      <% end %>
    </div>
    <div class="genre-list">
      <%= link_to root_path do %>
        <%= image_tag("selectshop.jpeg", class:"genre-image") %>
        <p class="genre-name">セレクトショップ</p>
      <% end %>
    </div>
    <div class="genre-list">
      <%= link_to root_path do %>
        <%= image_tag("street.jpeg", class:"genre-image") %>
        <p class="genre-name">ストリートファッション</p>
      <% end %>
    </div>
    <div class="genre-list">
      <%= link_to root_path do %>
        <%= image_tag("modefashion.jpeg", class:"genre-image") %>
        <p class="genre-name">モードファッション</p>
      <% end %>
    </div>
    <div class="genre-list">
      <%= link_to root_path do %>
        <%= image_tag("luxury.jpeg", class:"genre-image") %>
        <p class="genre-name">ラグジュアリー</p>
      <% end %>
    </div>
    <div class="genre-list">
      <%= link_to root_path do %>
        <%= image_tag("vintage.jpeg", class:"genre-image") %>
        <p class="genre-name">ヴィンテージ</p>
      <% end %>
    </div>
  </div>


  <h4 class="font-weight-bold mt-5">ブランドから探す</h4>
  <div class="brand">
    <div class="brand-list">
      <%= link_to root_path do %>
        <%= image_tag("UNIQLO.png", class:"brand-image") %>
      <% end %>
    </div>
    <div class="brand-list">
      <%= link_to root_path do %>
        <%= image_tag("GU.png", class:"brand-image") %>
      <% end %>
    </div>
    <div class="brand-list">
      <%= link_to root_path do %>
        <%= image_tag("H&M.jpeg", class:"brand-image") %>
      <% end %>
    </div>
    <div class="brand-list">
      <%= link_to root_path do %>
        <%= image_tag("ZARA.jpeg", class:"brand-image") %>
      <% end %>
    </div>
    <div class="brand-list">
      <%= link_to root_path do %>
        <%= image_tag("BEAMS.png", class:"brand-image") %>
      <% end %>
    </div>
    <div class="brand-list">
      <%= link_to root_path do %>
        <%= image_tag("UNITEDARROWS.jpeg", class:"brand-image") %>
      <% end %>
    </div>
  </div>
</div>

