<div class="shop-list">
  <% if @shops.present? %>
    <p><%= @shops.length%>件ヒットしました。</p>
    <% @shops.each do |shop| %>
      <%= link_to shop do %>
        <p><%= shop.name %></p>
        <p><%= shop.address %></p>
        <p><%= shop.area.name %></p>
      <% end %>
    <% end %>
  <% else %>
    <p>検索結果は見つかりませんでした。</p>
  <% end %>
</div>

<%= paginate @shops %>
