<div class="container">
  <div class="mx-auto" style="max-width: 80%" >
    <div class="border-bottom mb-4">
      <div class="row mt-5">
        <h3 class="col-lg-10 font-weight-bold">
          <p><%= @shop.name %></p>
        </h3>
        <div class="col-lg-2">
          <p id="shop-<%= @shop.id %>">
            <% if @shop.liked_by?(current_user) %>
              <%= render "like", shop: @shop %>
            <% else %>
              <%= render "dislike", shop: @shop %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-shop-score">
          <div class="average-score" data-score=<%= @shop.average_score %>><%= @shop.average_score %></div>
          <script>
            $('.average-score').empty();
              $('.average-score').raty({
                readOnly: true,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: function() {
                  return $(this).attr('data-score')
                }
              });
          </script>
        </div>
        <div class="col-lg-2 col-shop-average">
          <h4 class="text-danger"><%= @shop.average_score %></h4>
        </div>
        <div class="col-lg-2 col-shop-review">
          <div class="fas fa-comment-dots"> <%= @shop.reviews.count %> 件</div>
        </div>
        <div class="col-lg-2 col-shop-like">
          <div class="fas fa-bookmark"></div>
        </div>
        <div class="col-lg-2 col-shop-likecount font-weight-bold">
          <p id="shopcount-<%= @shop.id %>">
            <% if @shop.liked_by?(current_user) %>
              <%= render "likes_count", shop: @shop %>
            <% else %>
              <%= render "dislikes_count", shop: @shop %>
            <% end %>
          </p>
        </div>
      </div>
      <p><%= @shop.area.name %>/<%= @shop.genre.name %></p>
      <p><%= @shop.access %></p>
    </div>

    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="top-tab" data-toggle="tab" href="#top" role="tab" aria-controls="top" aria-selected="true">
        トップ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">口コミ</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="top-tab">
        <%= render 'top' %>    
      </div>
      <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
        <%= render 'review' %>    
      </div>
    </div>
  </div>
</div>
