<div class="container">
  <h2 class="text-center my-4 font-weight-bold"><%= @user.name %>さんのマイページ</h2>
  <div class="text-center mb-3">
    <%= image_tag @user.image.url, class: "rounded img-fluid", size: "200x200"%>
  </div>
  <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="top-tab" data-toggle="tab" href="#top" role="tab" aria-controls="top" aria-selected="true">
      トップ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="false">保存済みのお店 <%= @user.liked_shops.count%>件</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">口コミしたお店 <%= @user.reviewed_shops.count%>件</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <%= render "user_top"%>
    <%= render "user_like"%>
    <%= render "user_review"%>
  </div>
</div>
