<div class="login-form">
  <h2 class="login-title">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password,class:"sign_up_title" %>
        <% if @minimum_password_length %>
        <em class="sign_up_title"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="login-button">
        <%= f.submit t('.sign_in'),class:"btn btn-lg btn-secondary btn-block mt-3 " %>
      </div>
    <% end %>
    <div class="registration-link">
      <%= render "devise/shared/links" %>
    </div>
</div>
