<div class="container">
  <div class="mx-auto" style="max-width: 70%" >
    <%= form_with(model: [shop, review]) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      <h3 class="text-center font-weight-bold m-4">口コミ投稿フォーム</h3>
      <%= f.hidden_field :shop_id, value: shop.id %>
      <div class="field mb-3">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください。" %>
      </div>
      <div class="font-weight-bold">評価</div>
      <div class="field mb-3" id="score">
        <%= f.label :score, '評価' %>
        <%= f.hidden_field :score, id: :review_score %>
      </div>
      <script>
      $('#score').empty();
      $('#score').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[score]',
        half: false,
      });
      </script>
      <div class="field mb-3">
        <%= f.label :image, "画像" %><br />
        <%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
      </div>
      <div class="field">
        <%= f.label :content, '口コミ内容 ', class:'col-form-label' %>
        <%= f.text_area :content, class: "form-control", rows: "8", placeholder: "口コミ内容を入力してください。" %>
      </div>
      <div class="field text-center">
        <%= f.submit '投稿する', class:"btn btn-success" %>
      </div>
      <div class="text-center pt-3">
        <%= link_to "ショップ画面に戻る", shop_path(shop),class: "back-btn" %>
      </div>
    <% end %>
  </div>
</div>
