<%= form_with(model: [shop, review]) do |f| %>

  <p class="is-size-4 mb-3">レビューを書く</p>

  <% if review.errors.any? %>
    <div class="notification is-danger">
      <h2><%= review.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :shop_id, value: shop.id %>

  <div class="form-group">
    <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <!-- 評価 -->
  <div class="form-group" id="score">
    <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :score, id: :review_score %>
  </div>
  <script>
  $('#score').empty();
  $('#score').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[score]',
    half: false,
  });
  </script>

  <div class="form-group">
    <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8" %>
    </div>
  </div>

  <!-- 確認ボタン -->
  <div class="form-group justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>

