<div class="container">
  <div class="mx-auto" style="max-width: 70%" >
    <%= form_with(model: [shop, review]) do |f| %>
      <% if review.errors.any? %>
        <div class="notification is-danger">
          <h2><%= review.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-shop-name text-center mt-3">
        <p>口コミ投稿フォーム</p>
      </div>
      <%= f.hidden_field :shop_id, value: shop.id %>
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <!-- 評価 -->
      <div class="form-group" id="score">
        <%= f.label :score,'評価' %>
        <%= f.hidden_field :score, id: :review_score %>
      </div>
      <script>
      $('#score').empty();
      $('#score').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[score]',
        half: false,
      });
      </script>

      <div class="form-group">
        <%= f.label :content, '口コミ内容 ', class:'col-form-label' %>
        <%= f.text_area :content, class: "form-control", rows: "8" %>
      </div>

      <!-- 確認ボタン -->
      <div class="form-group text-center">
        <%= f.submit '投稿する', class:"btn btn-success" %>
      </div>
      <div class="text-center pt-3">
        <%= link_to "ショップ画面に戻る", shop_path(shop),class: "back-btn" %>
      </div>
    <% end %>
  </div>
</div>
