<h1>口コミ一覧</h1>

<% @reviews.each do |review|%>

  <div class=card>
    <p><%= review.user.name %></p>

    <div id="star-score<%= review.id%>"></div>    
    <script>
      $('#star-score<%= review.id%>').empty();
      $('#star-score<%= review.id%>').raty({
        readOnly: true,
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: "<%= asset_path('star-half.png') %>",
        half      : false,
        readOnly: true,
        score: <%= review.score %>,
      });
    </script>
    <p><%= review.score.to_f %>点</p>
    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.created_at.strftime('%Y/%m/%d') %></p>
  </div>
<% end %>

