<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="navbar-brand">
    <%= link_to "FASHION-ONE", root_path, id: "logo" %>
  </div>
  <button class="navbar-toggler hamburger-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          検索
        </a>
        <div class="dropdown-menu" aria-labelladby="navbarDropdown">
          <%= link_to "お店を検索", shops_path, class: "dropdown-item" %>
          <%= link_to "アイテムを検索", shops_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          登録
        </a>
        <div class="dropdown-menu" aria-labelladby="navbarDropdown">
          <%= link_to "お店を登録", shops_path, class: "dropdown-item" %>
          <%= link_to "アイテムを登録", shops_path, class: "dropdown-item" %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown active mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">マイページ</a>
          <div class="dropdown-menu text-black" aria-labelladby="navbarDropdown">
            <%= link_to "マイページ", current_user, class: "dropdown-item" %>
            <%= link_to "設定", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <%= link_to "会員登録", new_user_registration_path, class: "dropdown-item" %>
        <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "dropdown-item" %>
      <% end %>
    </ul>
  </div>
</nav>
