<nav class="navbar navbar-expand bg-dark navbar-dark">
    <div class="navbar-brand">
      <%= link_to "FASHION-ONE", root_path, id: "logo" %>
    </div>
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "マイページ", current_user, class: "nav-item nav-link text-white" %>
          <%= link_to "設定", edit_user_registration_path, class: "nav-item nav-link text-white" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-item nav-link text-white" %>
        <% else %>
          <%= link_to "会員登録", new_user_registration_path, class: "nav-item nav-link text-white" %>
          <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link text-white" %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-item nav-link text-white" %>
        <% end %>
      </div>
  </nav>
