<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="navbar-brand">
    <%= link_to "FASHION-ONE", root_path, id: "logo" %>
  </div>
  <button class="navbar-toggler hamburger-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
            <%= link_to "マイページ", current_user, class: "text-white m-2" %>
            <%= link_to "設定", edit_user_registration_path, class: "text-white m-2" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "text-white m-2" %>
      <% else %>
        <%= link_to "会員登録", new_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-item nav-link active" %>
      <% end %>
    </ul>
  </div>
</nav>
