<!DOCTYPE html>
<html>
  <head>
    <title> FASHION-ONE </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 
    'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/09ed6479d2.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer'%>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
